a[href] {
    text-decoration: none;
    color: blue;
}
p {
    color: #000000;
}
.no-color {
    color: rgb(0, 0, 0);
}
small {
    color:black;
}
.centered {
    text-align: center;
}
pre {
    font-size: 20px;
    border: 2px solid #9ea3a7;
    border-radius: 20px;
    padding: 14px;
    background-color: #9ea3a7;
    color: black;
}