h1 {
    font-size: 40px;
}
a[href] {
    text-decoration: none;
    color: blue;
}
p {
    color: #000000;
    font-size: 20px;
    font-family: Calibri, Arial, Helvetica,sans-serif;
    font-display: auto;
    font-weight: normal;
}
.no-color {
    color: rgb(0, 0, 0);
}
small {
    color:black;
    font-size: 0.9em;
}
.centered {
    text-align: center;
}
pre {
    font-size: 20px;
    border: 2px solid #9ea3a7;
    border-radius: 22px;
    padding: 14px;
    background-color: #9ea3a7;
    color: black;
    white-space: pre-wrap;
}
code {
    font-size: 20px;
    border: 2px solid #9ea3a7;
    border-radius: 10px;
    background-color: #9ea3a7;
}
body {
    background-color: rgb(91, 194, 238);
}
button {
    background-color: #7fff88;
    border-radius: 7px;
}
.red, .warning {
    color: red;
}
.highlight-warning {
    background-color: red;   
}
